<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/naman.khandelwal.7758"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.linkedin.com/in/naman-khandelwal-43832528b"><i class="fa-brands fa-square-linkedin"></i></a>
            <a href="https://x.com/Naman579"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="https://www.instagram.com/naman.khandelwal.2004"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div>
            <p>&copy; 2023 Nova Horizons. All rights reserved.</p>
        </div>
        <div class="f-info-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>