<% layout('/layouts/boilerplate') %>
<div class="card mt-4 ps-2">
    <h1>About Nova Horizons</h1>
    <p>
        Nova Horizons is a platform where users can explore and list amazing places.
        Our goal is to provide a seamless experience for discovering and sharing stays.
    </p>
</div>